img{
  height: 100px;
  width: 100px;
}

figure{
      background: #0dcaf0;
}
.normal{
  height: 200px;
  width: 200px;
  border: 2px solid;
}
footer{
height: 100px;

}

#menu{
  color: #F71735;
}

.dropdown-item{
  color: #F71735;
}
.nav-link{
  color: #F71735;
}

.navbar-brand{
  color: #F71735;
}


